<a href="https://colab.research.google.com/github/LeToanPhat/AI/blob/main/Tu%E1%BA%A7n_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = input('nhập vào số thứ 1:')
value1 = int (value1)
value2 = input('Nhập vào số thứ 2:')
value2 = int(value2)
tong = value1 + value2
print(tong)

In [ ]:
with open('text.txt',mode = 'w') as accounts:
  accounts.write('20146510 Lê Toàn Phát 10\n')

In [ ]:
with open('text.txt',mode = 'r') as accounts:
  print(f"{'mssv':<10} {'name':20}{'score'}:>2}")
  for record in accounts:
    MSSV,name,score = record.split()
    print(f"{mssv:<10}{name:<2}{score::>2}")

In [ ]:
import pandas as pd
url = 'da.csv'
dataframe = pd.read_csv(url)
dataframe.head(11)
dataframe.loc[0:10]
dataframe[dataframe['Year']=['2021']&(dataframe['Variable_code']=='Variable_code')]

In [ ]:
dataframe[dataframe['Year']=['2021']&(dataframe['Variable_code']=='Variable_code')]

In [ ]:
dataframe = dataframe.set_index(dataframe['name'])
datafram.loc['Nguyen van A']

In [ ]:
  dataframe[dataframe['Họ và tên']=='Nguyễn Văn A'].head(10)

In [ ]:
# thay thế
dataframe['khoa'].repalce('ckm','cơ khí máy').head(10)
dataframe.replace('ckm','cơ khí máy').head(1010)

In [ ]:
# không trùng lậplập
dataframe['Year'].unique
#dataframe['khoa'].value_cont()

In [ ]:
from pandas.core.groupby import groupby
from tables import group
from pandas.core.apply import GroupBy
# xóa cột
dataframe.drop('Year',axis=1).head(10)
#xóa theo trường
dataframe.drop(['mssv','khoa',axis=1]).head(10)
#xóa theo cột
dataframe.dropdrop(dataframe.colums[2:4],axis=1).head(10)
# xóa hàng có điểm 3, ckmckm
datafram[dataframe['khoa']!'ckm'].head(10)
dataframe[dataframe['điểm']!=3].head(10)
#xóa hàng trùng giá trị 
dataframe.drop_duplicates().head(10)
#nhóm các giá trị trùng nhau, đếm số lượnglượng
dataframe.GroupBy('khoa').cout()
dataframe.groupby(['khoa','diem']).count()
dataframe.groupby(['khoa','diem']).countcount

In [ ]:
import pandas as pd
url = 'da.csv'
dataframe = pd.read_csv(url)
dataframe.head(11)
dataframe.loc[0:10]
dataframe['Year']=['2021']&dataframe['Variable_name	']=='Total income'

In [ ]:
#lấy mẫumẫu
import pandas as pd
import numpy as np
time_index = pd.data_range('01/01/2023'),periods=100000,Frequency='30s'
dataframe=pd.DataFrame(index = time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('w').sum()
# 2 tuần 1 lần
dataframe.sesample('2w').mean()

In [ ]:
from pandas.io.parsers.readers import read_csv
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[data['NOC']=='CAN'].value_counts()

Year  City            Sport       Discipline      NOC  Event            Event gender  Medal
1924  Chamonix        Ice Hockey  Ice Hockey      CAN  ice hockey       M             Gold      1
1998  Nagano          Skating     Speed skating   CAN  500m             W             Gold      1
2002  Salt Lake City  Skating     Short Track S.  CAN  500m             M             Gold      1
                                                       5000m relay      M             Gold      1
                                                       3000m relay      W             Bronze    1
                                                                                               ..
1984  Sarajevo        Skating     Speed skating   CAN  1000m            M             Gold      1
                                  Figure skating  CAN  individual       M             Silver    1
1980  Lake Placid     Skiing      Alpine Skiing   CAN  downhill         M             Bronze    1
                      Skating     Speed skating   CAN  1000m            M             Silver    1
2006  Turin           Skiing      Snowboard       CAN  Snowboard Cross  W             Bronze    1
Length: 119, dtype: int64

In [ ]:
data[(data['Event']=='individual') & (data['Medal']=='Gold')].head(2300)
data[(data['Event']=='individual') & (data['Medal']=='Gold')].value_counts()

Year  City       Sport    Discipline       NOC  Event       Event gender  Medal
1924  Chamonix   Skating  Figure skating   AUT  individual  W             Gold     1
1972  Sapporo    Skating  Figure skating   TCH  individual  M             Gold     1
1976  Innsbruck  Skating  Figure skating   GBR  individual  M             Gold     1
                                           USA  individual  W             Gold     1
                 Skiing   Nordic Combined  GDR  individual  M             Gold     1
                                                                                  ..
1964  Innsbruck  Skating  Figure skating   NED  individual  W             Gold     1
                 Skiing   Nordic Combined  NOR  individual  M             Gold     1
1968  Grenoble   Skating  Figure skating   AUT  individual  M             Gold     1
                                           USA  individual  W             Gold     1
2006  Turin      Skating  Figure skating   RUS  individual  M             Gold     1
Length: 65, dtype: int64